html {
    background-color: #19181D;
    font-family:'Times New Roman', Times, serif;
    color: #CEC8C3;

}

body {
    margin: 15%;
    
}

article {
    background-color: #26232B;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 45px;
    margin-bottom: 45px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.27);
    border-radius: 6px;
    padding: 3%;
}

h1 {
    color: #F1EFE9;

}

h2 {
    color: #CEC8C3;
}

h3 {
    color: #CEC8C3;
}

h4 {
    color: #CEC8C3;
}

p {
    color: #CEC8C3;
}




img {
    max-width: 100%;
    width: 40%;
    height: 40%;
    }


